<section class="section">
  <h2 class="title is-4">Today's Foods</h2>
  <table class="table" style="width: 100%">
    <thead>
    <th></th>
    <th>Protein</th>
    <th>Carbs</th>
    <th>Fat</th>
    <th>Veggies</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
    {{#each usersFoods}}
        <td>{{name}}</td>
        <td>{{protein}}g</td>
        <td>{{carbs}}g</td>
        <td>{{fat}}g</td>
        <td>{{veggie}}</td>
        <td>
          <a class="button is-small" href="/editLog/{{logId}}/{{_id}}">
            Edit
          </a> <a class="button is-small" href="/deleteLog/{{logId}}/{{_id}}">
          Delete
        </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</section>
